<h1>{{ section.settings.hero-slick-slider }}</h1>

{% for block in section.blocks %}
    <h2>{{ block.settings.hero-slick-heading }}</h2>
{% endfor %}

{% schema %}
{
    "name": "Hero Slider",
    "settings": [
        {
            "type": "text",
            "id": "hero-slick-slider",
            "label": "Hero Slider",
            "default": "Howdy!"
        }
    ],
    "blocks": [
        {
            "type": "hero-slick-heading",
            "name": "Heading",
            "limit": 2,
            "settings": [
                {
                    "type": "text",
                    "id": "hero-slick-heading",
                    "label": "Hero Heading",
                    "default": "Howdy! heading."
                }
            ]
        }
    ]
}
{% endschema %}